* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
}

header {
  position: relative;
}

.container-fluid {
  font-size: 20px;
}

.logo {
  position: relative;
  font-size: 35px;
  background-color: rgb(124, 135, 230);
  height: 60px;
}

#logo {
  position: absolute;
  width: 100px;
  top: -40px;
  left: 34%;
}

.instructions h1 {
  position: relative;
  padding: 30px 30px 20px;
  font-size: 30px;
}

.instructions p {
  position: relative;
  padding: 0px 30px 20px;
  font-size: 20px;
}

#bball {
  margin-left: 27%;
}

#hoop {
  position: absolute;
  display: none;
  top: 20%;
  left: 50%;
}

.inputs {
  margin-left: 30px;
  clear: right;
}

.namensschild {
  position: relative;
  width: 50%;
  max-width: 400px;
  top: -20px;
}

#playingtime {
  font-size: large;
}

.kästchen {
  position: relative;
  margin-top: 20px;
}

footer {
  position: relative;
  top: 217px;
  width: 100%;
  padding-bottom: 0px;
  height: 50px;
  clear: both;
  background-color: rgba(57, 63, 68, 1);
  text-align: center;
  color: white;
  line-height: 3em;
}

.submitbutton {
  position: relative;
}

button#myButton {
  background-color: rgb(124, 135, 230);
}

.eingeloggt {
  position: absolute;
  top: 100px;
}

@media only screen and (min-width: 768px) {
  #hoop {
    display: block;
  }

  .inputs {
    margin-left: 35px;
  }

  footer {
    top: 350px;
  }
}

#logo {
  width: 121px;
  top: -50px;
  left: 44%;
}
