* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
}

header {
  position: relative;
}

.container-fluid {
  font-size: 20px;
}

.logo {
  position: relative;
  text-align: center;
  font-size: 35px;
  background-color: rgb(124, 135, 230);
  height: 60px;
}

.description {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.headtitle {
  position: relative;
  text-align: center;
  font-size: 30px;
  top: 10%;
}

.karte {
  position: relative;
  height: 100%;
  width: 100%;
}

.pin1,
.pin2,
.pin3,
.pin4,
.pin5 {
  position: absolute;
  width: 4%;
}

.pin1 {
  left: 15%;
  top: 0%;
}

.pin2 {
  left: 47%;
  top: 77%;
}

.pin3 {
  left: 46%;
  top: 44%;
}

.pin4 {
  left: 39%;
  top: 45%;
}

.pin5 {
  left: 16%;
  top: 69%;
}

.nummern {
  font-size: 20px;
}

.nummer1 {
  position: absolute;
  left: 13%;
  top: 0%;
}
.nummer2 {
  position: absolute;
  left: 45%;
  top: 77%;
}
.nummer3 {
  position: absolute;
  left: 50%;
  top: 44%;
}
.nummer4 {
  position: absolute;
  left: 37%;
  top: 45%;
}
.nummer5 {
  position: absolute;
  left: 14%;
  top: 69%;
}

.listdescription {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #f5f5f5;
  font-size: medium;
  text-align: center;
}

table {
  position: relative;
  top: 15px;
}

th {
  font-size: small;
}

.links {
  text-decoration: none;
  margin-left: 5px;
}

footer {
  display: none;
  position: relative;
  height: 50px;
  clear: both;
  background-color: rgba(57, 63, 68, 1);
  text-align: center;
  color: white;
  line-height: 3em;
}

@media only screen and (min-width: 768px) {
  .karte {
    width: 50%;
    left: 50%;
  }

  footer {
    display: block;
  }

  .nummern {
    font-size: 30px;
  }
  .headtitle {
    font-size: 30px;
    top: 15%;
  }

  .listdescription {
    width: 50%;
    left: 0%;
    top: -640px;
    background-color: none;
    font-size: large;
  }

  table {
    max-width: 50%;
    top: -606px;
  }

  th {
    font-size: medium;
  }
}
