* {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
}

.container-fluid {
  font-size: 20px;
}

.logo {
  position: relative;
  text-align: center;
  font-size: 35px;
  background-color: rgb(124, 135, 230);
  height: 60px;
}

.title {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.spielerliste {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #dfe1fa;
  padding: 20px;
}

.spielerliste li {
  background: white;
  color: darkblue;
  margin: 5px;
}

.image {
  position: absolute;
  display: none;
  top: 230px;
  left: 880px;
}

.Button1 {
  position: relative;
  left: 50%;
  margin-top: 10%;
  transform: translate(-50%);
}

.Button2 {
  position: relative;
  top: 60px;
  transform: translate(-50%);
}

.Button1,
.Button2 {
  background-color: rgb(124, 135, 230);
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px blue;
  padding: 10px;
  min-height: 30px;
  min-width: 100px;
}

.Button1:hover,
.Button2:hover {
  background-color: #002ead;
  transition: 0.7s;
}

footer {
  position: relative;
  top: 200px;
  height: 50px;
  margin-left: 0px;
  margin-right: 0px;
  clear: both;
  background-color: rgba(57, 63, 68, 1);
  text-align: center;
  color: white;
  line-height: 3em;
}

@media only screen and (min-width: 768px) {
  .image {
    display: block;
  }
  .title {
    font-size: 25px;
  }

  .spielerliste {
    margin-left: 5%;
    margin-right: 60%;
    margin-top: 5%;
  }

  .Button1 {
    left: 11%;
    top: -75px;
  }

  .Button2 {
    left: 23%;
    top: -75px;
  }

  footer {
    top: 285px;
  }
}
