* {
  margin: 0;
  padding: 0;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 130%;
  max-height: 2800px;
}

.leftsidebar {
  position: absolute;
  top: 140px;
  width: 10%;
  height: inherit;
  background-color: #dfe1fa;
}

.rightsidebar {
  position: absolute;
  top: 140px;
  width: 10%;
  height: inherit;
  background-color: #dfe1fa;
  left: 90%;
}
header {
  background-color: rgb(124, 135, 230);
  height: 60px;
}

.greeting {
  position: relative;
  left: 10%;
  font-size: 25px;
  top: 5px;
}

.logo {
  position: relative;
  text-align: center;
  font-size: 30px;
}

.question {
  position: relative;
  font-size: 15px;
  left: 10%;
}

.weisserbalken {
  height: 80px;
  background-color: white;
}

.topcosmetic {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: #dfe1fa;
}

/*erstes Spielfeld*/

.Spielfeld1 {
  position: relative;
}

.Titel1 {
  position: absolute;
  height: 30px;
  width: 100%;
  text-align: center;
  top: 10px;
  font-family: brandon-grot-w01-light, Century Gothic, arial, sans-serif;
}

.Bild1 {
  position: relative;
  width: 80%;
  left: 10%;
  top: 50px;
}
.btn-container {
  position: relative;
}

.Button1 {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translate(-50%);
  background-color: rgb(124, 135, 230);
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px blue;
  padding: 10px;
  min-height: 30px;
  min-width: 100px;
}
.Button1:hover {
  background-color: #002ead;
  transition: 0.7s;
}

.topcosmetic2 {
  position: relative;
  top: 110px;
  height: 40px;
  width: 100%;
  background-color: #dfe1fa;
}

/*zweites Spielfeld*/

.Spielfeld2 {
  position: relative;
  top: 110px;
}

.Titel2 {
  position: absolute;
  top: 110px;
  height: 30px;
  width: 100%;
  text-align: center;
  top: 10px;
  font-family: brandon-grot-w01-light, Century Gothic, arial, sans-serif;
}

.Bild2 {
  position: relative;
  width: 80%;
  left: 10%;
  top: 50px;
}
.btn-container {
  position: relative;
}

.Button2 {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translate(-50%);
  background-color: rgb(124, 135, 230);
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px blue;
  padding: 10px;
  min-height: 30px;
  min-width: 100px;
}
.Button2:hover {
  background-color: #002ead;
  transition: 0.7s;
}

.topcosmetic3 {
  position: relative;
  top: 220px;
  height: 40px;
  width: 100%;
  background-color: #dfe1fa;
}

/*drittes Spielfeld*/

.Spielfeld3 {
  position: relative;
  top: 220px;
}

.Titel3 {
  position: absolute;
  top: 110px;
  height: 30px;
  width: 100%;
  text-align: center;
  top: 10px;
  font-family: brandon-grot-w01-light, Century Gothic, arial, sans-serif;
}

.Bild3 {
  position: relative;
  width: 80%;
  left: 10%;
  top: 50px;
}
.btn-container {
  position: relative;
}

.Button3 {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translate(-50%);
  background-color: rgb(124, 135, 230);
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px blue;
  padding: 10px;
  min-height: 30px;
  min-width: 100px;
}
.Button3:hover {
  background-color: #002ead;
  transition: 0.7s;
}

.topcosmetic4 {
  position: relative;
  top: 330px;
  height: 40px;
  width: 100%;
  background-color: #dfe1fa;
}

/*viertes Spielfeld*/

.Spielfeld4 {
  position: relative;
  top: 330px;
}

.Titel4 {
  position: absolute;
  top: 110px;
  height: 30px;
  width: 100%;
  text-align: center;
  top: 10px;
  font-family: brandon-grot-w01-light, Century Gothic, arial, sans-serif;
}

.Bild4 {
  position: relative;
  width: 80%;
  left: 10%;
  top: 50px;
}
.btn-container {
  position: relative;
}

.Button4 {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translate(-50%);
  background-color: rgb(124, 135, 230);
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px blue;
  padding: 10px;
  min-height: 30px;
  min-width: 100px;
}
.Button4:hover {
  background-color: #002ead;
  transition: 0.7s;
}

.topcosmetic5 {
  position: relative;
  top: 440px;
  height: 40px;
  width: 100%;
  background-color: #dfe1fa;
}

/*fünftes Spielfeld*/

.Spielfeld5 {
  position: relative;
  top: 440px;
}

.Titel5 {
  position: absolute;
  top: 110px;
  height: 30px;
  width: 100%;
  text-align: center;
  top: 10px;
  font-family: brandon-grot-w01-light, Century Gothic, arial, sans-serif;
}

.Bild5 {
  position: relative;
  width: 80%;
  left: 10%;
  top: 50px;
}
.btn-container {
  position: relative;
}

.Button5 {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translate(-50%);
  background-color: rgb(124, 135, 230);
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px blue;
  padding: 10px;
  min-height: 30px;
  min-width: 100px;
}
.Button5:hover {
  background-color: #002ead;
  transition: 0.7s;
}

.topcosmetic6 {
  position: relative;
  top: 550px;
  height: 40px;
  width: 100%;
  background-color: #dfe1fa;
}

.Titel1,
.Titel2,
.Titel3,
.Titel4,
.Titel5 {
  font-size: 20px;
}

footer {
  top: 550px;
  position: relative;
  height: 50px;
  clear: both;
  background-color: rgba(57, 63, 68, 1);
  text-align: center;
  color: white;
  line-height: 3em;
}

@media only screen and (min-width: 768px) {
  #wrapper {
    height: 115%;
  }
}

@media only screen and (min-width: 1080px) {
  #wrapper {
    height: 150%;
  }
  .Titel1,
  .Titel2,
  .Titel3,
  .Titel4,
  .Titel5 {
    font-size: 30px;
  }

  .Button1,
  .Button2,
  .Button3,
  .Button4,
  .Button5 {
    min-width: 130px;
  }
}
