* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(124, 135, 230);
  height: 100px;
}

.logo {
  position: relative;
  text-align: center;
  font-size: 25px;
}

.container-fluid {
  font-size: 20px;
}

.inputfield {
  position: relative;
  left: 750px;
  top: 300px;
}

.animation {
  position: relative;
  left: 10px;
  top: 50px;
}

.instructions {
  position: relative;
  left: 600px;
  top: 200px;
}
