* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(124, 135, 230);
  height: 120px;
}

.logo {
  position: relative;
  text-align: center;
  font-size: 35px;
}

.container-fluid {
  font-size: 20px;
}

.animation {
  position: relative;
  left: 415px;
  top: 0px;
}

.instructions {
  position: relative;
  left: 330px;
  top: 600px;
}

footer {
  height: 50px;
  clear: both;
  background-color: rgba(57, 63, 68, 1);
  text-align: center;
  color: white;
  line-height: 3em;
  position: relative;
  top: 1119px;
}
