* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(124, 135, 230);
  height: 120px;
}

.logo {
  position: relative;
  text-align: center;
  font-size: 35px;
}

.container-fluid {
  font-size: 20px;
}

.background {
  width: 100%;
  height: 650px;
  background-color: #dfe1fa;
}

.instructions {
  position: relative;
  left: 140px;
  top: 50px;
}

footer {
  height: 50px;
  clear: both;
  background-color: rgba(57, 63, 68, 1);
  text-align: center;
  color: white;
  line-height: 3em;
  position: relative;
  top: 50px;
}

.inputfield {
  position: relative;
  left: 140px;
  top: 45px;
}

.image {
  position: relative;
  left: 960px;
  top: -80px;
}
.submitbutton {
  position: relative;
  left: 335px;
  top: 16px;
}
