* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
}

header {
  position: relative;
}

.container-fluid {
  font-size: 20px;
}

.logo {
  position: relative;
  text-align: center;
  font-size: 35px;
  background-color: rgb(124, 135, 230);
  height: 60px;
}

.instructions h1 {
  position: relative;
  padding: 30px 30px 20px;
  font-size: 30px;
}

.instructions p {
  position: relative;
  padding: 0px 30px 20px;
  font-size: 20px;
}

.inputs {
  margin-left: 30px;
}

.namensschild {
  position: relative;
  width: 50%;
  max-width: 400px;
  top: -20px;
}

#playingtime {
  font-size: large;
}

.kästchen {
  position: relative;
  margin-top: 20px;
}

footer {
  position: relative;
  padding-bottom: 0px;
  height: 50px;
  top: 90px;
  clear: both;
  background-color: rgba(57, 63, 68, 1);
  text-align: center;
  color: white;
  line-height: 3em;
}

.image {
  top: 170px;
  left: 885px;
  position: absolute;
  display: none;
}

.submitbutton {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .image {
    display: block;
  }

  footer {
    top: 134px;
  }
  .inputs {
    margin-left: 35px;
  }
}
